[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/whoshuu/cpr
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/httpmockserver"]
	path = external/httpmockserver
	url = https://github.com/seznam/httpmockserver
